body {
    padding: 0;
    margin: 0;
}

/* SidebarFirstColumn styles */
.SidebarFirstColumn {
    background-color: #4699A7;
    width: 3.5rem;
    align-items: center;
    justify-content: space-between;
}
.SidebarFirstColumn-navbar-open-menu {
    color: white;
    padding-top: 1rem;
    font-size: 2.5rem;
}
.SidebarFirstColumn-bottom-icons {
    padding-bottom: 1rem;
    flex-direction: column;
}
.SidebarFirstColumn-setting-menu {
    color: white;
    padding-top: 1rem;
    font-size: 2.5rem;
}
.SidebarFirstColumn-power-menu {
    color: white;
    padding-top: 1rem;
    font-size: 2.5rem;
}


.Sidebar-second-column {
    background-color: #2B2425;
    width: 14rem;
}

/* HeaderSecondColumn styles*/
.HeaderSecondColumn-inbox-title-container {
    height: 8rem;
}
.HeaderSecondColumn-inbox-title {
    padding-left: 1.2rem;
    padding-top: 1rem;
    color: white;
    font-weight: bold;
}
.HeaderSecondColumn-arrow-icon {
    font-size: 1.3rem;
    color: white;
    margin-left: 1.2rem;
    margin-bottom:0.25rem;
}
.HeaderSecondColumn-button-search {
    background-color: #4699A7 !important;
    border-color: #4699A7 !important ;
    margin-top: 1rem;
}
.HeaderSecondColumn-button-search:focus {
    box-shadow: none !important;
}
.HeaderSecondColumn-search-icon {
    color: white;
}
.HeaderSecondColumn-input-search {
    background-color: #4699A7 !important;
    border-color: #4699A7 !important ;
    margin-top: 1rem;
}
.HeaderSecondColumn-input-search:focus {
    box-shadow: none !important;
}
#inlineFormInputGroup::placeholder {
    color: white;
}

/* MessageTitleThirdColumn styles */
.MessageTitleThirdColumn-span-message {
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.MessageTitleThirdColumn-span-message-icon {
    font-size: 1.5rem;
}
.MessageTitleThirdColumn-add-contact-icon {
    font-size: 1.5rem;
}
.MessageTitleThirdColumn-button-search-message {
    background-color: lightgray !important;
    border-color: lightgray !important ;
}
.MessageTitleThirdColumn-button-search-message:focus {
    box-shadow: none !important;
}
.MessageTitleThirdColumn-search-icon-message {
    color: gray;
}
.MessageTitleThirdColumn-input-search-message {
    background-color: lightgray !important;
    border-color: lightgray !important ;
}
.MessageTitleThirdColumn-input-search-message:focus {
    box-shadow: none !important;
}
#inlineFormInputGroupMessage::placeholder {
    color: gray;
}


.button-edit {
    background-color: white !important;
    border:white!important;
    color: black !important;
}
.button-edit:focus {
    box-shadow: none !important;
}
.button-add-contact {
    background-color: white !important;
    border:white!important;
    color: #4699A7!important;
}
.button-add-contact:focus {
    box-shadow: none !important;
}

/* ConversationSecondColumn styles */
.ConversationSecondColumn-title {
    padding-left: 1.2rem;
    color: white;
    font-weight: bold;
    padding-bottom: 0.5rem;
}
.ConversationSecondColumn-container {
    background-color: #4699A7;
}
.ConversationSecondColumn-icon {
    color: white;
}

/* TeammatesTitleSecondColumn styles*/
.TeammatesTitleSecondColumn-container{
    padding-bottom: 0.5rem;
}
.TeammatesTitleSecondColumn-title {
    padding-left: 1.2rem;
    color: white;
    font-weight: bold;
}

/* TeammatesSecondColumn styles*/
.TeammatesSecondColumn-container {
    background-color: #4699A7;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0.5rem;
}
.TeammatesSecondColumn-contact-picture {
    width: 2rem;
    height: 2rem;
    background-color: white;
}
.TeammatesSecondColumn-name {
    color: white;
    margin-left: 0.5rem;
    font-size: 0.8rem;
    padding-bottom: 0.3rem;
}
.TeammatesSecondColumn-span {
    font-size: 0.6rem;
    color: white;
    padding-bottom: 0.3rem;
}

/*Conversation styles*/
.Conversations-contact-picture-messages {
    width: 3rem;
    height: 3rem;
    background-color: lightgray;
}
.Conversations-span-messages {
    font-size: 0.6rem;
    color: black;
}
.Conversations-span-messages-text {
    font-size: 0.4rem;
    color: lightgray;
    max-width: 6.5rem;
}

/*HeaderThirdColumn styles*/
.HeaderThirdColumn-span-you {
    height: 2rem;
}

/* ActiveContactChat and HeaderOpenConversation styles */
.ActiveContactChat-container{
    padding: 1rem 0;
    margin: 0 1.5rem;
    border-bottom: 0.5px solid rgb(238, 233, 233);
}
.ActiveContactChat-contact-picture {
    background-color: lightgrey;
    width: 2rem;
    height: 2rem;
    margin-right: 0.7rem;
    border-radius: 4px;
}
.ActiveContactChat-contact-name {
    font-weight: bold;
    font-size: 0.8rem;
}
.ActiveContactChat-status {
    font-size: 0.6rem;
    color:  #8044A2;
}
.ActiveContactChat-icon {
    font-size: 0.3rem;
    color:  #8044A2;
    margin-right: 0.2rem;
    margin-bottom: 0.2rem;
}

/* ReadingChatArea styles */
.ReadingChatArea-chat-color-me {
    background-color:#8044A2;
}
.ReadingChatArea-chat-color-sender {
    background-color: lightgrey;
}

/* TypingTextChatArea styles*/
.TypingTextChatArea-container {
    margin-bottom: 0.3rem;
}
.TypingTextChatArea-form-group {
    margin:1.4rem;
}
.TypingTextChatArea-button-send {
    background-color: #8044A2 !important;
    border:none !important;
}
.TypingTextChatArea-button-send:focus {
    box-shadow: none !important;
}
.TypingTextChatArea-button-clip-and-mic {
    background-color: rgb(231, 230, 230) !important;
    border:1px solid rgb(216, 213, 213) !important;
    color: gray !important;
}
.TypingTextChatArea-button-clip-and-mic:focus {
    box-shadow: none !important;
}
.TypingTextChatArea-input-enter-message:focus {
    box-shadow: none !important;
    border: 1px solid  rgb(216, 213, 213) !important;
}

/* NewConversationModal styles */
.NewConversationModal-button-create-conversation {
    background-color: #4699A7!important;
    border:#4699A7!important;
}
.NewConversationModal-button-create-conversation:focus {
    box-shadow: none !important;
}

/* NewContactModal styles */
.NewContactModal-button-create-contact {
    background-color: #4699A7!important;
    border:#4699A7!important;
}
.NewContactModal-button-create-contact:focus {
    box-shadow: none !important;
}

/* mobile-Bar styles */
.mobile-navbar {
    height: 3rem;
    background-color: #2B2425;
    position: fixed; bottom: 0rem; width: 100%;
}
.mobile-navbar-icon {
    color: white;
    font-size: 1.7rem;
}
.mobile-navbar-icon:hover {
    color: #4699A7;
}

/* media-query */
/* mobile-view */
@media (max-width: 769px) {
    .desktop-view {
        display:none;
    }

    /* HeaderSecondColumn-mobile styles*/
    /* && HeaderOpenSearchConversationsMobile styles*/
    /* && HeaderOpenSearchTeammatesMobile styles*/
    .HeaderSecondColumn-form-search-snd-column {
        display:none;
    }
    .HeaderSecondColumn-inbox-title-container {
        background-color: #2B2425;
        height: 4rem;
        position: fixed;top: 0; width: 100%;
    }
    .HeaderSecondColumn-inbox-title {
        margin-top: 1rem;
        padding-left: 1rem;
        font-weight: bold;
        font-size: 1.2rem; 
    }
    .HeaderSecondColumn-search-icon-mobile {
        color: white;
        font-size: 1.3rem;
        margin-right: 1.4rem;
    }

    
    .button-edit {
        background-color:  #4699A7 !important;
        border:  solid #4699A7 !important;
    }
    .button-add-contact {
        background-color:  #4699A7 !important;
        border:  solid #4699A7 !important;
    }

    /* SidebarFirstColumn-mobile styles */
    .SidebarFirstColumn {
        background-color: white;
        width: 100%;
        align-items: start;
        justify-content: space-between;
        margin-top: 4.5rem;
    }
    .SidebarFirstColumn-navbar-open-menu {
        display: none;
    }
    .SidebarFirstColumn-bottom-icons {
        flex-direction: column-reverse;
    }
    .SidebarFirstColumn-setting-container-elements {
        display: flex;
        flex-direction: row;
    }
    .SidebarFirstColumn-setting-menu {
        color: #4699A7;
        padding-top: 1rem;
        padding-left: 1rem;
        font-size: 3.3rem;
        margin-left: 0.3rem;
    }
    .SidebarFirstColumn-setting-title-mobile {
        padding-top: 1.2rem;
        padding-left: 1rem;
        font-size: 1.3rem;
        font-weight: bold;
    }
    .SidebarFirstColumn-power-menu {
        color: #4699A7;
        padding-top: 1rem;
        padding-left: 1rem;
        font-size: 3rem;
        margin-left: 0.5rem;
    }
    .SidebarFirstColumn-power-title-mobile {
        padding-top: 1.1rem;
        padding-left: 1rem;
        font-size: 1.3rem;
        font-weight: bold;
    }

    /* TeammatesSecondColumn-mobile styles*/
    .TeammatesSecondColumn-container {
        background-color: white;
        margin-top: 5.5rem;
        margin-bottom: 2.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .TeammatesSecondColumn-contact-picture {
        width: 3.5rem;
        height: 3.5rem;
        background-color: lightgray;
    }
    .TeammatesSecondColumn-name {
        color: black;
        font-size: 1.2rem;
        padding-bottom: 0.6rem;
    }
    .TeammatesSecondColumn-span {
        font-size: 0.8rem;
        color: black;
        padding-bottom: 0.8rem;
    }

    /* TeammatesTitleSecondColumn-mobile styles*/
    .TeammatesTitleSecondColumn-title {
        padding-left: 1.2rem;
        color: #2B2425;
        font-weight: bold;
    }
    .TeammatesTitleSecondColumn-container{
        background-color: #4699A7;
        height: 2rem;
        padding-bottom: 0.3rem;
        position: fixed; top: 3.9rem; width: 100%;
    }

    /* ActiveContactChat-mobile and HeaderOpenConversation styles */
    .ActiveContactChat-container{
        padding: 0.4rem 1.5rem;
        margin:0;
        background-color: #4699A7;
        position: fixed; top: 0; width: 100%;
    }
    .ActiveContactChat-contact-picture {
        display: none;
    }
    .ActiveContactChat-contact-name {
        font-weight: bold;
        font-size: 1.3rem;
        color: #2B2425;
    }
    .ActiveContactChat-vertical-dots-icon {
        font-size: 1.3rem;
        color: #2B2425;
    }
    .ActiveContactChat-icon{
        color: white;
        font-size: 0.5rem;
        margin-bottom: 0.1rem;
    }
    .ActiveContactChat-status {
        color: white;
        font-size: 0.8rem;
    }
    .ActiveContactChat-arrow-icon {
        margin-right: 1rem;
        color: #2B2425;
        font-size: 1.5rem;
    }

    /* TypingTextChatArea-mobile styles*/
    .TypingTextChatArea-container {
        height: 2.5rem;
        position: fixed; bottom: 2.6rem; width: 100%;
        background-color: white !important;
        padding-bottom: 3rem;
    }
    .TypingTextChatArea-form-group {
        margin:0 0.5rem;
    }
    #textArea::placeholder {
        font-size: 0.6rem;
        padding-top: 0.5rem;
    } 
    

    .open-search-container {
        background-color: #2B2425;
        height: 4rem;
        position: fixed; top:0; width: 100%;
    }
    .arrow-back-search-container {
        background-color: white;
        height: 2.03rem;
        margin-top: 1.93rem;
    }
    .arrow-back-search-icon{
        color: black;
        font-size: 1.3rem;
        margin-top: 0.25rem;
        margin-left: 1.2rem;
    }
    .input-search-teammates-mobile {
        border-radius: 0 !important;
        background-color: white !important;
        border: none !important;
        margin-top: 1.93rem;
        height: 2.03rem !important;
    }
    .input-search-teammates-mobile:focus {
        box-shadow: none !important;
    }
    .container-dropUp {
        height: 0.5rem;
        background-color: #2B2425;
        position: fixed; bottom: 0;
    }
    .openDropUp {
        width: 100%;
        background-color: #4699A7;
        border: solid #4699A7;
        display: flex;
        justify-content: center;
        height: 0.5rem;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        position: fixed; bottom: 0;
    }
    .mobile-dropUp-icon {
        background-color: black;
        height: 0.1rem;
        width: 30%;
        border-radius: 1rem;
    }
    .react-modal-sheet-container {
        background-color: #4699A7 !important;
        border-top-left-radius: 1.5rem !important;
        border-top-right-radius: 1.5rem !important;
    }

    /* ConversationSecondColumn-mobile styles */
    .ConversationSecondColumn-title {
        padding-left: 2rem;
        color: black;
        font-weight: bold;
        padding-bottom: 0.5rem;
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }
    .ConversationSecondColumn-text-dropUp {
        font-size: 1.3rem !important;
    }
    .ConversationSecondColumn-icon {
        font-size: 2rem;
        margin-right: 0.7rem;
        width: 2.8rem !important;
    }
    .ConversationSecondColumn-container-text-dropUp {
        margin-bottom: 1.5rem;
    }


    .form-check-input[type="radio"] {
        width: 1.3rem;
        height: 1.3rem;
    }
    .form-check {
        padding-bottom: 1.7rem;
        margin-right: 0.5rem;
    }

    /* ReadingChatArea-mobile styles */
    .ReadingChatArea-size-mobile {
        padding-bottom: 6rem !important;
        padding-top: 3.3rem !important;
    }

    /* ConversationListThirdColumn-mobile styles */
    .ConversationListThirdColumn-size {
        margin-bottom: 3rem;
        margin-top: 8rem;
    }

    /* MessageTitleThirdColumn-mobile styles */
    .MessageTitleThirdColumn-position-mobile {
        position: fixed; top: 3.9rem; width: 100%;
    }
    .MessageTitleThirdColumn-message-title-mobile {
        background-color:  #4699A7;
    }
    .MessageTitleThirdColumn-nav-message-title{
        border:  #4699A7 !important;
    }
    .MessageTitleThirdColumn-add-contact-icon {
        color: #2B2425;
    }
    .MessageTitleThirdColumn-form-search-trd-column {
        display:none;
    }
}

/* desktop-view */
@media only screen and (min-width: 769px) {
    .mobile-view, 
    .SidebarFirstColumn-setting-title-mobile,
    .HeaderSecondColumn-search-icon-mobile,
    .HeaderSecondColumn-arrow-icon,
    .SidebarFirstColumn-power-title-mobile,
    .ActiveContactChat-arrow-icon
    {
        display:none;
    }
}



