/* side-bar styles */

.sidebar-first-column {
    background-color: #4699A7;
    width: 3.5rem;
    align-items: center;
    justify-content: space-between;
}

.navbar-open-menu {
    color: white;
    padding-top: 1rem;
    font-size: 2.5rem;
}

.sidebar-bottom-icons {
    align-items: center;
    padding-bottom: 1rem;
}

.sidebar-second-column {
    background-color: #2B2425;
    width: 14rem;
}

.inbox-title {
    padding: 1.2rem;
    color: white;
    font-weight: bold;
}

.button-search {
    background-color: #4699A7 !important;
    border-color: #4699A7 !important ;
}

.button-search:focus {
    box-shadow: none !important;
}

.input-search {
    background-color: #4699A7 !important;
    border-color: #4699A7 !important ;
}

.input-search:focus {
    box-shadow: none !important;
}

#inlineFormInputGroup::placeholder {
    color: white;
}

.search-icon {
    color: white;
}

.span-message {
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.span-message-icon {
    font-size: 1.5rem;
}

.button-edit {
    background-color: white !important;
    border:white!important;
    color: black !important;
}

.button-edit:focus {
    box-shadow: none !important;
}

.add-contact-icon {
    font-size: 1.5rem;
}

.button-add-contact {
    background-color: white !important;
    border:white!important;
    color: #4699A7!important;
}

.button-add-contact:focus {
    box-shadow: none !important;
}

.button-search-message {
    background-color: lightgray !important;
    border-color: lightgray !important ;
}

.button-search-message:focus {
    box-shadow: none !important;
}

.input-search-message {
    background-color: lightgray !important;
    border-color: lightgray !important ;
}

.input-search-message:focus {
    box-shadow: none !important;
}

#inlineFormInputGroupMessage::placeholder {
    color: gray;
}

.search-icon-message {
    color: gray;
}

.conversation-and-teammates-title {
    padding-left: 1.2rem;
    color: white;
    font-weight: bold;
}

.div-under-convesation-and-teammates {
    background-color: #4699A7;
}

.conversation-icon {
    color: white;
}

.contact-picture-teammates {
    width: 2rem;
    height: 2rem;
    background-color: white;
}

.span-teammates {
    font-size: 0.6rem;
    color: white;
}

.contact-picture-messages {
    width: 3rem;
    height: 3rem;
    background-color: lightgray;
}

.span-messages {
    font-size: 0.6rem;
    color: black;
}

.span-messages-text {
    font-size: 0.4rem;
    color: lightgray;
    max-width: 7.5rem;
}

.span-you {
    height: 2rem;
}

/* open-conversation styles */

.contact-picture {
    background-color: lightgrey;
    width: 2rem;
    height: 2rem;
}

.small-status {
    font-size: 0.6rem;
    color:  #8044A2;
}

.small-icon {
    font-size: 0.3rem;
    color:  #8044A2;
}

.chat-color-me {
    background-color:#8044A2;
}

.chat-color-sender {
    background-color: lightgrey;
}

.button-send {
    background-color: #8044A2 !important;
    border:none !important;
}

.button-send:focus {
    box-shadow: none !important;
}

.button-clip-and-mic {
    background-color: rgb(231, 230, 230) !important;
    border:1px solid rgb(216, 213, 213) !important;
    color: gray !important;
}

.button-clip-and-mic:focus {
    box-shadow: none !important;
}

.input-enter-message:focus {
    box-shadow: none !important;
    border: 1px solid  rgb(216, 213, 213) !important;
}

/* new-conversation-modal styles */

.button-create-conversation {
    background-color: #4699A7!important;
    border:#4699A7!important;
}

.button-create-conversation:focus {
    box-shadow: none !important;
}
